{%- set external_urls = {
  'github': 'https://github.com/GITHUB_NAME/REPONAME',
  'github_issues': 'https://github.com/GITHUB_NAME/REPONAME/issues',
  'contributing': 'https://github.com/GITHUB_NAME/REPONAME/blob/main/CONTRIBUTING.md',
  'docs': 'https://PACKAGE_NAME.rtfd.io/en/latest',
  'discuss': 'https://AUTHOR_NAME.slack.com',
  'tutorials': 'https://PACKAGE_NAME.readthedocs.io/en/latest/#tutorials',
  'home': 'https://PACKAGE_NAME.rtfd.io/en/latest/',
  'get_started': 'https://PACKAGE_NAME.readthedocs.io/en/latest/introduction_guide.html',
  'features': 'https://PACKAGE_NAME.rtfd.io/en/latest/',
  'blog': 'https://PACKAGE_NAME.rtfd.io/en/latest/',
  'resources': 'https://PACKAGE_NAME.readthedocs.io/en/latest/#community-examples',
  'support': 'https://PACKAGE_NAME.rtfd.io/en/latest/',
}
-%}
