{%- set external_urls = {
  'github': 'https://github.com/GITHUB_NAME/REPONAME',
  'github_issues': 'https://github.com/GITHUB_NAME/REPONAME/issues',
  'contributing': 'https://github.com/GITHUB_NAME/REPONAME/blob/main/CONTRIBUTING.md',
  'docs': 'https://PACKAGENAME.rtfd.io/en/latest',
  'discuss': 'https://AUTHOR_NAME.slack.com',
  'tutorials': 'https://PACKAGENAME.rtfd.io/en/latest/tutorials.html',
  'home': 'https://PACKAGENAME.rtfd.io/en/stable/',
  'get_started': 'https://PACKAGENAME.readthedocs.io/en/stable/getting_started.html',
  'features': 'https://PACKAGENAME.rtfd.io/en/stable/',
  'blog': 'https://PACKAGENAME.rtfd.io/en/latest/',
  'resources': 'https://PACKAGENAME.readthedocs.io/en/latest/#community-examples',
  'support': 'https://PACKAGENAME.rtfd.io/en/latest/',
}
-%}
